In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Downloads/salaries_v1.csv")
df.head()

C:\Users\Abinay Rachakonda\AppData\Local\Temp\ipykernel_21080\1132218205.py:1: DtypeWarning: Columns (3,4,5,6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("Downloads/salaries_v1.csv")

,EmployeeId,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,104185,Victor C Reed,Recreation Leader,14568.75,0.0,367.2,3772.81,14935.95,18708.76,2013,NaN,San Francisco,NaN
1,74321,Margarita M Hill,Registered Nurse,142425.0,3798.0,33841.12,47952.6,180064.12,228016.72,2013,NaN,San Francisco,NaN
2,66309,John Li,Police Officer,17085.0,0.0,0.0,6888.15,17085.00,23973.15,2012,NaN,San Francisco,NaN
3,50793,Tyrone Harper,EMT/Paramedic/Firefighter,78505.61,4805.8,4877.92,26978.16,88189.33,115167.49,2012,NaN,San Francisco,NaN
4,4271,DEIRDRE APPEL,ASSOCIATE ENGINEER,129497.66,0.0,0.0,NaN,129497.66,129497.66,2011,NaN,San Francisco,NaN

In [4]:
df.isnull().sum()

EmployeeId               0
EmployeeName             0
JobTitle                 0
BasePay                605
OvertimePay              0
OtherPay                 0
Benefits             36159
TotalPay                 0
TotalPayBenefits         0
Year                     0
Notes               148654
Agency                   0
Status              110535
dtype: int64

In [57]:
df.shape

(148654, 13)

In [58]:
df.columns

Index(['EmployeeId', 'EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay',
       'OtherPay', 'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year', 'Notes',
       'Agency', 'Status'],
      dtype='object')

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   EmployeeId        148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

# 1.who got maximam salary find the name ?

In [60]:
df['TotalPayBenefits'].max() # away to find maximam

567595.43

In [61]:
df['TotalPayBenefits'].idxmax() # away to find index_number of maximam

98822

In [62]:
df.loc[98822,'EmployeeName'] # name of index number which got maximam

'NATHANIEL FORD'

In [63]:
df.loc[98822,:] # full details of emlpoyee

EmployeeId                                                       1
EmployeeName                                        NATHANIEL FORD
JobTitle            GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
BasePay                                                  167411.18
OvertimePay                                                    0.0
OtherPay                                                 400184.25
Benefits                                                       NaN
TotalPay                                                 567595.43
TotalPayBenefits                                         567595.43
Year                                                          2011
Notes                                                          NaN
Agency                                               San Francisco
Status                                                         NaN
Name: 98822, dtype: object

# 2.what is the average pay without Benefits

In [64]:
df['TotalPay'].mean()

74768.32197169267

# 3.what is the highest maximam BasePay in given Dataset

In [65]:
df['BasePay'].value_counts()

0.0          772
0            374
54703        293
55026.0      249
48472.4      191
            ...
54546.28       1
107339.72      1
42929.2        1
104521.9       1
57380.74       1
Name: BasePay, Length: 112921, dtype: int64

# to find numeric and non_numeric values value_counts(),unique()

In [66]:
df['BasePay'].unique() # there many values we Can't find string

array(['14568.75', '142425.0', '17085.0', ..., 149755.35, 56439.23,
       57380.74], dtype=object)

In [67]:
df['BasePay'].value_counts() # there many values we Can't find string

0.0          772
0            374
54703        293
55026.0      249
48472.4      191
            ...
54546.28       1
107339.72      1
42929.2        1
104521.9       1
57380.74       1
Name: BasePay, Length: 112921, dtype: int64

In [68]:
df['BasePay'].max() # between float values ('str' in basepay) error was show

TypeError: '>=' not supported between instances of 'str' and 'float'

In [5]:
df["BasePay"].apply(pd.to_numeric) # between float values ('str' in values error show "Not Provided"

ValueError: Unable to parse string "Not Provided" at position 0

In [6]:
#finding "Not Provided" values
df.loc[df.BasePay == "Not Provided"]

,EmployeeId,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
17478,148647,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.0,0.0,2014,NaN,San Francisco,NaN
33851,148653,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.0,0.0,2014,NaN,San Francisco,NaN
109582,148651,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.0,0.0,2014,NaN,San Francisco,NaN
111840,148652,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.0,0.0,2014,NaN,San Francisco,NaN

In [7]:
# repalcing "Not provided" to Nan
import numpy as np
df = df.replace("Not Provided",np.nan).replace("Not Provided",np.nan)
df.loc[(df.BasePay == 'Not Provided')|(df.BasePay == 'Not Provided')]

Empty DataFrame
Columns: [EmployeeId, EmployeeName, JobTitle, BasePay, OvertimePay, OtherPay, Benefits, TotalPay, TotalPayBenefits, Year, Notes, Agency, Status]
Index: []

In [8]:
# feeding to variable name['BasePay'] of numerical value convertion
df['BasePay'] = df['BasePay'].apply(pd.to_numeric)

In [9]:
#3.what is the highest maximam BasePay in given DatasetÂ¶
df['BasePay'].max()

319275.01

In [10]:
#index numder of maximam Basepay
df['BasePay'].idxmax()

40868

# 4.what is job title of person who got maximam overtimepay ?

In [75]:
df['OvertimePay'].max() # same problem object type so covernt in numeric

TypeError: '>=' not supported between instances of 'str' and 'float'

In [76]:
# very time remind to asign to varible has it is like df['OvertimePay']= df['OvertimePay' than it will wroik
df['OvertimePay']= df['OvertimePay'].apply(pd.to_numeric) # coverted into numeric know ypu can apply max(),idxmax()

In [77]:
df['OvertimePay'].max()

245131.88

In [78]:
df['OvertimePay'].idxmax()

90636

In [79]:
#4.what is job title of person who got maximam overtimepay ?
df.loc[90636,'JobTitle']

'CAPTAIN III (POLICE DEPARTMENT)'

In [80]:
df.loc[90636,:]

EmployeeId                                        2
EmployeeName                           GARY JIMENEZ
JobTitle            CAPTAIN III (POLICE DEPARTMENT)
BasePay                                   155966.02
OvertimePay                               245131.88
OtherPay                                  137811.38
Benefits                                        NaN
TotalPay                                  538909.28
TotalPayBenefits                          538909.28
Year                                           2011
Notes                                           NaN
Agency                                San Francisco
Status                                          NaN
Name: 90636, dtype: object

# 5.in which year TotalPay average maximam(withoutBenfits)

In [81]:
#long code we should find each year mean than we shoud do groupby('year')
df.loc[df['Year'] == 2011].mean()
df.loc[df['Year'] == 2012].mean()
df.loc[df['Year'] == 2013].mean()
df.loc[df['Year'] == 2014].mean()

C:\Users\Abinay Rachakonda\AppData\Local\Temp\ipykernel_1220\1099832933.py:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.loc[df['Year'] == 2011].mean()
C:\Users\Abinay Rachakonda\AppData\Local\Temp\ipykernel_1220\1099832933.py:3: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.loc[df['Year'] == 2012].mean()
C:\Users\Abinay Rachakonda\AppData\Local\Temp\ipykernel_1220\1099832933.py:4: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.loc[df['Year'] == 2013].mean()
C:\Users\Abinay Rachakonda\AppData\Local\Temp\ipykernel_1220\1099832933.py:5: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.loc[df['Year'] == 2014].mean()

EmployeeId          129593.000000
BasePay              66564.421924
OvertimePay           5401.993737
TotalPay             75463.918140
TotalPayBenefits    100250.918884
Year                  2014.000000
Notes                         NaN
dtype: float64

In [14]:
#5.in which year TotalPay average maximam(withoutBenfits)Â¶
year = df.groupby('Year')

In [15]:
df['Year'].value_counts() # to unique values

2014    38123
2013    37606
2012    36766
2011    36159
Name: Year, dtype: int64

In [16]:
year['TotalPay'].mean() #2013 have maximam

Year
2011    71744.103871
2012    74113.262265
2013    77611.443142
2014    75463.918140
Name: TotalPay, dtype: float64

In [17]:
year['TotalPay'].mean().sort_index(ascending=False)

Year
2014    75463.918140
2013    77611.443142
2012    74113.262265
2011    71744.103871
Name: TotalPay, dtype: float64

In [19]:
df.dtypes

EmployeeId            int64
EmployeeName         object
JobTitle             object
BasePay             float64
OvertimePay          object
OtherPay             object
Benefits             object
TotalPay            float64
TotalPayBenefits    float64
Year                  int64
Notes               float64
Agency               object
Status               object
dtype: object

In [86]:
df.columns

Index(['EmployeeId', 'EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay',
       'OtherPay', 'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year', 'Notes',
       'Agency', 'Status'],
      dtype='object')

# 6.how many job title in dataset

In [87]:
df['JobTitle'].nunique()

2159

# 7.what are top 5 common jobs in the year 2014

In [88]:
df['JobTitle'].value_counts() # its show over all jobtitle we shuold groupby

Transit Operator                             7036
Special Nurse                                4389
Registered Nurse                             3736
Public Svc Aide-Public Works                 2518
Police Officer 3                             2421
                                             ...
TRAF SIGNAL ELECTRICIAN SUP II                  1
SENIOR MAINTENANCE CONTROLLER                   1
ASSISTANT DIRECTOR OF CLINICAL SERVICES I       1
ASSISTANT LAW LIBRARIAN                         1
LIEUTENANT I, (POLICE DEPARTMENT)               1
Name: JobTitle, Length: 2159, dtype: int64

In [89]:
#methed 1
group_df=df.groupby('Year')

In [90]:
df_2014= group_df.get_group(2014) # 2014 year given to varible

In [91]:
df_2014['JobTitle'].value_counts().head() # top 5 common jobs

Transit Operator                2479
Special Nurse                   1478
Registered Nurse                1234
Public Svc Aide-Public Works     916
Firefighter                      815
Name: JobTitle, dtype: int64

In [92]:
#methed 2
group_df=df.groupby('Year')
output = group_df['JobTitle'].value_counts()#know its show year put in varible

In [93]:
output

Year  JobTitle
2011  TRANSIT OPERATOR                 2388
      SPECIAL NURSE                    1402
      REGISTERED NURSE                 1219
      CUSTODIAN                         796
      FIREFIGHTER                       794
                                       ...
2014  Water Meter Shop Supervisor 1       1
      Wharfinger 1                        1
      Window Cleaner Supervisor           1
      Wire Rope Cable Maint Sprv          1
      Youth Comm Advisor                  1
Name: JobTitle, Length: 4137, dtype: int64

In [94]:
#7.what are top 5 common jobs in the year 2014
output[2014].head() # top 5 common jobs(answer)

JobTitle
Transit Operator                2479
Special Nurse                   1478
Registered Nurse                1234
Public Svc Aide-Public Works     916
Firefighter                      815
Name: JobTitle, dtype: int64

In [95]:
output[2014].head().index #index wise

Index(['Transit Operator', 'Special Nurse', 'Registered Nurse',
       'Public Svc Aide-Public Works', 'Firefighter'],
      dtype='object', name='JobTitle')

# 8.how many people have word chief in theit JobTitle?

In [96]:
df['JobTitle'].apply(lambda title: True if "chief" in title else False)

0         False
1         False
2         False
3         False
4         False
          ...
148649    False
148650    False
148651    False
148652    False
148653    False
Name: JobTitle, Length: 148654, dtype: bool

In [ ]:
#Np.nan values are float values we can iterate the values we use str(title).lower() convert()

In [97]:
cheif_title = df['JobTitle'].apply(lambda title: True if "chief" in str(title).lower()else False)

In [98]:
cheif_title.value_counts()

False    148027
True        627
Name: JobTitle, dtype: int64

# gerating a yearwise report average overtime for each job title

In [99]:
df.columns

Index(['EmployeeId', 'EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay',
       'OtherPay', 'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year', 'Notes',
       'Agency', 'Status'],
      dtype='object')

In [101]:
df.pivot_table(values='OvertimePay',index=["JobTitle"],columns=['Year'],aggfunc='mean')

Year,2011,2012,2013,2014
JobTitle,,,,
ACCOUNT CLERK,373.200843,NaN,NaN,NaN
ACCOUNTANT,0.000000,NaN,NaN,NaN
ACCOUNTANT INTERN,24.430625,NaN,NaN,NaN
"ACPO,JuvP, Juv Prob (SFERS)",NaN,NaN,NaN,0.000000
ACUPUNCTURIST,0.000000,NaN,NaN,NaN
...,...,...,...,...
X-RAY LABORATORY AIDE,3571.223462,NaN,NaN,NaN
X-Ray Laboratory Aide,NaN,3977.478387,1955.821765,4530.769714
"YOUTH COMMISSION ADVISOR, BOARD OF SUPERVISORS",0.000000,NaN,NaN,NaN
Youth Comm Advisor,NaN,0.000000,0.000000,0.000000
ZOO CURATOR,0.000000,NaN,NaN,NaN

# 9.how many people have an insurance

In [3]:
insurance_df = pd.read_csv("Downloads/insurance_status.csv")

In [104]:
insurance_df.head()

   Unnamed: 0  emp_id  insurance_status
0           0       1                 0
1           1       2                 0
2           2       3                 0
3           3       4                 0
4           4       5                 0

In [105]:
#9.how many people have an insurance(answer) 2024
insurance_df['insurance_status'].value_counts()

0    146630
1      2024
Name: insurance_status, dtype: int64

In [4]:
insurance_df.pop('Unnamed: 0')# removing garage column

0              0
1              1
2              2
3              3
4              4
           ...
148649    148649
148650    148650
148651    148651
148652    148652
148653    148653
Name: Unnamed: 0, Length: 148654, dtype: int64

# 10.what is average totalpay (withoutBenifs)employees with insurance

In [114]:
#elpoyee table cloumns
df.columns

Index(['EmployeeId', 'EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay',
       'OtherPay', 'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year', 'Notes',
       'Agency', 'Status'],
      dtype='object')

In [112]:
insurance_df.columns #insurance tables columns

Index(['emp_id', 'insurance_status'], dtype='object')

# pd.merge employee and insurane table

In [130]:
pd.merge(df,insurance_df, left_on="EmployeeId",right_on="emp_id",how="inner").shape

(148654, 15)

In [131]:
insurance_df.shape

(148654, 2)

In [132]:
df=pd.merge(df,insurance_df, left_on="EmployeeId",right_on="emp_id",how="inner")
df.head()# we have emp_td and inurance table merge

,EmployeeId,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status,emp_id,insurance_status
0,104185,Victor C Reed,Recreation Leader,14568.75,0.0,367.2,3772.81,14935.95,18708.76,2013,NaN,San Francisco,NaN,104185,0
1,74321,Margarita M Hill,Registered Nurse,142425.00,3798.0,33841.12,47952.6,180064.12,228016.72,2013,NaN,San Francisco,NaN,74321,0
2,66309,John Li,Police Officer,17085.00,0.0,0.0,6888.15,17085.00,23973.15,2012,NaN,San Francisco,NaN,66309,0
3,50793,Tyrone Harper,EMT/Paramedic/Firefighter,78505.61,4805.8,4877.92,26978.16,88189.33,115167.49,2012,NaN,San Francisco,NaN,50793,0
4,4271,DEIRDRE APPEL,ASSOCIATE ENGINEER,129497.66,0.0,0.0,NaN,129497.66,129497.66,2011,NaN,San Francisco,NaN,4271,0

In [137]:
df['insurance_status'].value_counts()

0    146630
1      2024
Name: insurance_status, dtype: int64

In [136]:
#10.what is average totalpay (withoutBenifs)employees with insurance
df.loc[df['insurance_status']== 1,'TotalPay'].mean()

73387.96378952567

report

In [139]:
df.pivot_table(values='TotalPay',index=['insurance_status'],aggfunc='mean')

                      TotalPay
insurance_status
0                 74787.375678
1                 73387.963790